.addtask{
    border:1px solid rgba(85, 85, 85, 0.335);
    height:120px;
    border-radius:10px;
    width:1250px;
    margin:20px auto;
}
.newtask{
  background-color: rgba(167, 166, 166, 0.527);
  border:1px solid rgba(85, 85, 85, 0.335);
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  height:40px;
  padding-top:5px;
  font-weight: bold;
  font-size: large;
}